body {
  background-color: black;
}

.img-container {
  width: 15%;
  height: 15%;
  object-fit: cover;
}
input {
  width: 10%;
  height: 10%;
}

li a {
  color: white;
}
li a:hover {
  color: lightgray;
}

.avatar {
  width: 10%;
}

.menu {
  width: 10%;
  height: 10%;
}

.cerca {
  width: 10%;
  height: 10%;
}

.kids {
  width: 10%;
  height: 10%;
}

.search-dropdown {
  position: relative;
}
.dropdown-menu {
  width: 100%;
}

.swiper-wrapper{
    height: 150%;
    width: 150%;
}

.film-card{
    width: 250px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}
.film-card:hover{
   transform: scale(1.1);
}